In [35]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [36]:
data = pd.read_csv('Churn_Modelling.csv')

In [37]:
data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis =1 )
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [38]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [39]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [40]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [41]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [42]:
data = pd.concat([data.drop('Geography', axis = 1), geo_encoded_df], axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [43]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [44]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [45]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geo.pkl' , 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)
with open ('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [46]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [47]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

## ANN For Regression ##

In [48]:
import tensorflow as tf 

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

import datetime

In [49]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1], )), 
    Dense(32, activation='relu'),
    Dense(1)
])

c:\Users\abhil\.4AIML\AnnClassification\myenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [50]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [51]:
model.compile(optimizer='adam', loss="mean_absolute_error", metrics=['mae'])

In [52]:
log_dir ='log/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [53]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [54]:
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 10, restore_best_weights =True)

In [55]:
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[ early_stopping_callback, tensorflow_callback]

)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100259.3438 - mae: 100259.3438 - val_loss: 98460.4062 - val_mae: 98460.4062
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99724.8047 - mae: 99724.8047 - val_loss: 96499.9922 - val_mae: 96499.9922
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97239.5234 - mae: 97239.5234 - val_loss: 91504.0000 - val_mae: 91504.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 92226.9297 - mae: 92226.9297 - val_loss: 83457.3672 - val_mae: 83457.3672
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 83222.9219 - mae: 83222.9219 - val_loss: 73616.6562 - val_mae: 73616.6562
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 71795.9922 - mae: 71795.9922 - val_loss: 64218.3477 - val_mae: 64218.3477
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 63090.2812 - mae: 63090.2812 - val_loss: 57224.1719 - val_mae: 57224.1719
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 56553.9727 - mae: 56553.9727 - val_loss: 53168.6523 - val_mae: 53168.6523
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52411.3984 - mae: 52411.3984 - val_loss: 51547.8281 - val_mae: 51547.8281
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50856.0703 - mae: 50856.0703 - val_loss: 51069.6562 - val_mae: 51069.6562
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50757.3906 - mae: 50757.3906 - val_loss: 50946.8594 - val_mae: 50946.8594
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50575.6836 - mae: 50575.6836 - val_loss: 50871.8242 - val_mae: 50871.8242
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50215.7930 - mae: 50215.7930 - val_loss: 50811.8672 - val_mae: 50811.8672
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49981.4844 - mae: 49981.4844 - val_loss: 50763.5938 - val_mae: 50763.5938
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49833.8242 - mae: 49833.8242 - val_loss: 50721.0625 - val_mae: 50721.0625
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50309.0547 - mae: 50309.0547 - val_loss: 50679.6641 - val_mae: 50679.6641
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50196.6211 - mae: 50196.6211 - val_loss: 50642.3359 - val_mae: 50642.3359
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50380.3672 - mae: 50380.3672 - val_loss: 50608.3555 - val_mae: 50608.3555
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49568.2539 - mae: 49568.2539 - val_loss: 50583.4883 - val_mae: 50583.4883
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49675.9414 - mae: 49675.9414 - val_loss: 50542.4414 - val_mae: 50542.4414
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50043.1484 - mae: 50043.1484 - val_loss: 50524.3125 - val_mae: 50524.3125
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49322.5391 - mae: 49322.5391 - val_loss: 50508.3555 - val_mae: 50508.3555
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49345.2383 - mae: 49345.2383 - val_loss: 50498.3438 - val_mae: 50498.3438
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50187.9180 - mae: 50187.9180 - val_loss: 50483.2344 - val_mae: 50483.2344
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49978.6797 - mae: 49978.6797 - val_loss: 50473.3125 - val_mae: 50473.3125
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49449.4102 - mae: 49449.4102 - val_loss: 50463.4688 - val_mae: 50463.4688
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50104.6641 - mae: 50104.6641 - val_loss: 50441.0234 - val_mae: 50441.0234
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49733.4414 - mae: 49733.4414 - val_loss: 50441.1914 - val_mae: 50441.1914
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50015.4688 - mae: 50015.4688 - val_loss: 50426.7031 - val_mae: 50426.7031
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49359.8750 - mae: 49359.8750 - val_loss: 50423.1484 - val_mae: 50423.1484
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49932.1602 - mae: 49932.1602 - val_loss: 50413.5547 - val_mae: 50413.5547
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49222.0781 - mae: 49222.0781 - val_loss: 50412.8125 - val_mae: 50412.8125
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49312.6211 - mae: 49312.6211 - val_loss: 50410.3203 - val_mae: 50410.3203
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49669.3789 - mae: 49669.3789 - val_loss: 50407.1836 - val_mae: 50407.1836
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49738.5078 - mae: 49738.5078 - val_loss: 50396.3320 - val_mae: 50396.3320
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49368.5430 - mae: 49368.5430 - val_loss: 50394.6836 - val_mae: 50394.6836
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49041.3164 - mae: 49041.3164 - val_loss: 50380.7930 - val_mae: 50380.7930
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49110.4180 - mae: 49110.4180 - val_loss: 50377.9766 - val_mae: 50377.9766
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49489.9375 - mae: 49489.9375 - val_loss: 50376.6797 - val_mae: 50376.6797
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49562.5742 - mae: 49562.5742 - val_loss: 50366.7695 - val_mae: 50366.7695
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49532.3906 - mae: 49532.3906 - val_loss: 50368.4883 - val_mae: 50368.4883
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49965.6367 - mae: 49965.6367 - val_loss: 50364.8320 - val_mae: 50364.8320
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49721.3125 - mae: 49721.3125 - val_loss: 50373.1211 - val_mae: 50373.1211
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49069.3086 - mae: 49069.3086 - val_loss: 50370.9297 - val_mae: 50370.9297
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49550.8359 - mae: 49550.8359 - val_loss: 50364.3047 - val_mae: 50364.3047
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49585.2930 - mae: 49585.2930 - val_loss: 50356.7383 - val_mae: 50356.7383
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49269.0195 - mae: 49269.0195 - val_loss: 50355.5430 - val_mae: 50355.5430
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49364.7109 - mae: 49364.7109 - val_loss: 50368.9062 - val_mae: 50368.9062
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49407.2461 - mae: 49407.2461 - val_loss: 50362.6836 - val_mae: 50362.6836
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49299.2344 - mae: 49299.2344 - val_loss: 50355.7734 - val_mae: 50355.7734
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49724.8086 - mae: 49724.8086 - val_loss: 50355.2539 - val_mae: 50355.2539
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49575.9883 - mae: 49575.9883 - val_loss: 50359.7969 - val_mae: 50359.7969
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49355.2109 - mae: 49355.2109 - val_loss: 50350.2227 - val_mae: 50350.2227
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48968.3047 - mae: 48968.3047 - val_loss: 50353.0195 - val_mae: 50353.0195
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49912.8516 - mae: 49912.8516 - val_loss: 50365.5430 - val_mae: 50365.5430
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49687.1016 - mae: 49687.1016 - val_loss: 50370.4219 - val_mae: 50370.4219
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49616.7148 - mae: 49616.7148 - val_loss: 50361.5547 - val_mae: 50361.5547
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49240.8047 - mae: 49240.8047 - val_loss: 50365.7852 - val_mae: 50365.7852
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49657.9297 - mae: 49657.9297 - val_loss: 50354.1719 - val_mae: 50354.1719
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49220.5625 - mae: 49220.5625 - val_loss: 50358.7578 - val_mae: 50358.7578
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49388.6641 - mae: 49388.6641 - val_loss: 50355.8438 - val_mae: 50355.8438
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49383.8633 - mae: 49383.8633 - val_loss: 50358.7695 - val_mae: 50358.7695
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49652.8672 - mae: 49652.8672 - val_loss: 50363.9570 - val_mae: 50363.9570

In [56]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [57]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [58]:
%tensorboard --logdir log\fit

Reusing TensorBoard on port 6009 (pid 17288), started 18:03:25 ago. (Use '!kill 17288' to kill it.)

In [59]:
test_loss, test_mae = model.evaluate(X_test, y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - loss: 51088.8711 - mae: 51088.8711